extends ../layout/page.pug

block content
  if message
    div.alert.alert-danger(role="alert")
      p.mb-0.text-center #{message}
  form(action="/sessions", method="post")
    div.mb-3
      label.form-label Имя пользователя:
        input.form-control(type="text", name="username" required)
    div.mb-3
      label.form-label Пароль:
        input.form-control(type="password", name="password" required)
    input.btn.btn-primary(type="submit", value="Войти")
